.serarch-dates {
  background-color: white;
  font-weight: 900;
  text-transform: inherit !important;
  color: #b47b7c;
  
}
.search-container {
  display: flex;
  flex-direction: column;
}
.form{
  left:25%;
  top: 150px;
}
.search {
  background-color: #664949;
  color: #fff;
  border: none;
  transition: all ease-in-out 1s;
}
.search:hover {
  background-color: #fff;
  color: #000;
}
.search:active {
  background-color: #eee;
}
@media only screen and (max-width: 800px) {
  .form {
    margin: 5px;
    left:0;
    top:100px;
    background-color: #7FC8A9;
    padding:15px;
    border-radius: 10px;
  }
}
