@media screen and (min-width: 990px) {
  .form-control {
    margin-right: 8px;
  }
  .navbar-expand-lg .navbar-collapse {
    justify-content: space-between;
  }
  .form-part {
    display: flex;
  }
}
