@media screen and (min-width: 992px) {
  .card-container {
    width: 310px;
    height: 350px; 
  }
}
@media screen and (min-width: 769px) {
  .card-container {
    width: 320px;
    height: 350px; 
  }
}
@media screen and (max-width: 768px) {
  .card-container {
    width: 100%;
    height: 350px; 
  }
}